version: '3'

services:
  stun-client:
    depends_on:
      - stun-server
    links:
      - stun-server
    build:
      context: ..
      dockerfile: e2e/client.Dockerfile
      args:
        CI_GO_VERSION: ${CI_GO_VERSION}
  stun-server:
    build:
      context: ..
      dockerfile: e2e/server.Dockerfile
    volumes:
    - ./turnserver.conf:/etc/turnserver.conf

networks:
  default:
    external:
      name: stun_e2e_coturn
